---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: hypershift-addon-operator-manager
rules:
- apiGroups: [""]
  resources: ["secrets", "configmaps", "events", "services"]
  verbs: ["get", "list", "watch", "create", "update", "delete", "deletecollection", "patch"]
- apiGroups: ["addon.open-cluster-management.io"]
  resources: ["managedclusteraddons", "managedclusteraddons/finalizers", "managedclusteraddons/status", "clustermanagementaddons", "clustermanagementaddons/finalizers"]
  verbs: ["create", "delete", "get", "list", "watch", "patch", "update"]
- apiGroups: ["work.open-cluster-management.io"]
  resources: ["manifestworks"]
  verbs: ["create", "update", "get", "list", "watch", "delete", "deletecollection", "patch"]
- apiGroups: ["config.openshift.io"]
  resources: ["infrastructures"]
  verbs: ["get", "list", "watch", "patch", "update"]
- apiGroups: ["certificates.k8s.io"]
  resources: ["certificatesigningrequests", "certificatesigningrequests/approval"]
  verbs: ["create", "get", "list", "watch", "patch", "update"]
- apiGroups: ["certificates.k8s.io"]
  resources: ["signers"]
  resourceNames:
  - kubernetes.io/kube-apiserver-client
  verbs: ["approve"]
- apiGroups: ["cluster.open-cluster-management.io"]
  resources: ["managedclusters", "managedclustersets", "managedclustersetbindings"]
  verbs: ["get", "list", "watch", "patch", "update", "delete"]
- apiGroups: ["cluster.open-cluster-management.io"]
  resources: ["addonplacementscores", "addonplacementscores/status"]
  verbs: ["create", "delete", "deletecollection", "get", "list", "patch", "update", "watch"]
- apiGroups: ["cluster.open-cluster-management.io"]
  resources: ["addonplacementscores/status"]
  verbs: ["create", "delete", "get", "list", "patch", "update", "watch"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["roles", "rolebindings", "clusterroles", "clusterrolebindings"]
  verbs: ["get", "list", "watch", "create", "update", "delete"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["clusterroles/finalizers"]
  verbs: ["get", "update"]
- apiGroups: ["authorization.k8s.io"]
  resources: ["subjectaccessreviews"]
  verbs: ["get", "create"]
- apiGroups: ["addon.open-cluster-management.io"]
  resources: ["addondeploymentconfigs"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["operators.coreos.com"]
  resources: ["clusterserviceversions"]
  verbs: ["get", "list"]
- apiGroups: ["console.openshift.io"]
  resources: ["consoleclidownloads"]
  verbs: ["get", "list", "create", "delete", "update", "patch"]
- apiGroups: ["apps"]
  resources: ["deployments", "deployments/finalizers"]
  verbs: ["get", "list", "create", "delete", "update", "patch"]
- apiGroups: ["route.openshift.io"]
  resources: ["routes"]
  verbs: ["get", "list", "create", "delete", "update", "patch"]
- apiGroups: ["multicluster.openshift.io"]
  resources: ["multiclusterengines"]
  verbs: ["list"] 
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: hypershift-addon-manager
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: hypershift-addon-operator-manager
subjects:
  - kind: ServiceAccount
    name: hypershift-addon-manager-sa
    namespace: multicluster-engine
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: hypershift-addon-manager-sa
  namespace: multicluster-engine
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: hypershift-addon-manager
  namespace: multicluster-engine
  labels:
    app: hypershift-addon-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hypershift-addon-manager
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hypershift-addon-manager
    spec:
      restartPolicy: Always
      serviceAccountName: hypershift-addon-manager-sa
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      containers:
        - name: hypershift-addon-manager
          image: 'quay.io/stolostron/hypershift-addon-operator:latest'
          args:
            - ./hypershift-addon
            - manager
            - '--namespace=open-cluster-management'
          imagePullPolicy: Always
          env:
            - name: HYPERSHIFT_OPERATOR_IMAGE_NAME
              value: 'quay.io/hypershift/hypershift-operator:latest'
            - name: HYPERSHIFT_ADDON_IMAGE_NAME
              value: 'quay.io/stolostron/hypershift-addon-operator:latest'
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
      serviceAccount: hypershift-addon-manager-sa
      hostNetwork: false
      hostPID: false
      hostIPC: false
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault