apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .SpokeRolebindingName }}-agent
  namespace: {{ .AddonInstallNamespace }}
rules:
  # Allow addon agent run with openshift library-go
  - apiGroups: [""]
    resources: ["pod", "namespaces"]
    verbs: ["get", "list", "patch", "update", "create", "watch"]  
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list", "patch", "update", "create", "watch"]  
  - apiGroups: ["apps"]
    resources: ["replicasets"]
    verbs: ["get", "list"] 
  - apiGroups: ["", "events.k8s.io"]
    resources: ["events"]
    verbs: ["create", "update", "patch"]         
  # Allow addon to install hypershift
  - apiGroups: ["cluster.open-cluster-management.io"]
    resources: ["clusterclaims", "managedclusters"]
    verbs: ["get", "list", "create", "patch", "update", "delete"]
  - apiGroups: ["operator.open-cluster-management.io"]
    resources: ["klusterlets"]
    verbs: ["get", "list", "patch", "update", "watch"] 
  - apiGroups: ["operators.coreos.com"]
    resources: ["operators", "clusterserviceversions"]
    verbs: ["get", "list", "watch"] 
  - apiGroups: ["agent.open-cluster-management.io"]
    resources: ["klusterletaddonconfigs"]
    verbs: ["create", "get", "list", "patch", "update"]   
  - apiGroups: ["addon.open-cluster-management.io"]
    resources: ["addondeploymentconfigs", "clustermanagementaddons"]
    verbs: ["get", "list", "create", "patch", "update", "delete"]
  - apiGroups: [""]
    resources: ["services", "serviceaccounts", "configmaps", "secrets", "namespaces"]
    verbs: ["get", "list", "watch", "create", "patch", "update", "delete"]
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list", "watch"]        
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["get", "list", "create", "update", "delete"]  
  - apiGroups: ["hypershift.openshift.io"]
    resources: ["hostedclusters", "nodepools", "hostedcontrolplanes"]
    verbs: ["get", "list", "watch", "create", "patch", "update", "delete"]                
  - apiGroups: ["scheduling.k8s.io"]
    resources: ["priorityclasses"]
    verbs: ["get", "list", "create"]  
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get", "create", "patch", "update"]    
  - apiGroups: ["rbac.authorization.k8s.io"]
    resources: ["roles", "clusterroles", "rolebindings", "clusterrolebindings"]
    verbs: ["*"]   
  - apiGroups: ["monitoring.coreos.com"]
    resources: ["servicemonitors", "prometheusrules", "podmonitors"]
    verbs: ["update", "patch", "create"]
  - apiGroups: ["monitoring.rhobs"]
    resources: ["servicemonitors", "prometheusrules", "podmonitors"]
    verbs: ["get", "list", "watch", "create", "patch", "update", "delete"] 
  - apiGroups: ["apiextensions.k8s.io"]
    resources: ["customresourcedefinitions"]
    verbs: ["get", "list", "update", "patch", "create"]                       
  - apiGroups: ["authentication.k8s.io"]
    resources: ["tokenreviews"]
    verbs: ["get", "list", "watch", "create", "patch", "update", "delete"]    
  - apiGroups: ["cluster.open-cluster-management.io"]
    resources: ["managedclustersets/join"]
    verbs: ["create"]
  - apiGroups: ["register.open-cluster-management.io"]
    resources: ["managedclusters/accept"]
    verbs: ["update"]
  - apiGroups: ["admissionregistration.k8s.io"]
    resources: ["mutatingwebhookconfigurations", "validatingwebhookconfigurations"]
    verbs: ["get", "list", "watch", "create", "patch", "update", "delete"]
  - apiGroups: ["route.openshift.io"]
    resources: ["routes"]
    verbs: ["get", "list"]
  - apiGroups: [ "scheduling.hypershift.openshift.io" ]
    resources: [ "*" ]
    verbs: [ "*" ]
  - apiGroups: [ "discovery.open-cluster-management.io" ]
    resources: [ "discoveredclusters" ]
    verbs: [ "*" ]
